body {
  background-color: rgb(250, 249, 249);
  font-family: 'Montserrat', sans-serif;
  color: rgb(33, 45, 64);
}

@media(max-width: 768px) {
  .navBar{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    padding: 5%;
    grid-gap: 5px;
    background-color: rgb(151, 157, 172);
    height: 100%;
    font-weight: bold;

  }
  .navBar a {
    display: grid;
    justify-content: center;
    color:  rgb(250, 249, 249);
  }

  .categories {
    display: grid;
    justify-content: center;
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .transactions {
    width: 60%;
    display: grid;
    justify-content: center;
    margin: 20%;
    gap: 10px
  }

  .category {
    border: rgb(33, 45, 64) solid 2px;
    border-radius: 5px;
    box-shadow: rgb(56, 93, 148) 0px 2px 8px 0px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .transaction {
    border: rgb(33, 45, 64) solid 2px;
    border-radius: 5px;
    box-shadow: rgb(56, 93, 148) 0px 2px 8px 0px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .total{
    padding: 5%;
    color: rgb(33, 45, 64);
    font-weight: bold;
  }

  .transactionValue {
    margin-left: 10px;
    font-weight: bold;
  }

  .operations {
      display: grid;
      justify-content: center;
      margin: 20%;
      gap: 10px
  }

  .operationValue {
    border: rgb(33, 45, 64) solid 2px;
    border-radius: 5px;
    box-shadow: rgb(56, 93, 148) 0px 2px 8px 0px;
    padding-left: 20px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .categoryValue {
    padding-left: 20px;
  }
  
  .t {
    margin-top: 5px;
  }

  #remove {
    margin-left: 45%;
  }
 .operations a {
   display: inline;
   margin-top: 5px
 }
 .chart {
   margin-left: 20%;
   margin-top: 2%;
  
 }
 


}
